Repository asuc-octo/berkeleytime: changes, and which Jenkins stages are due for each by the changed paths.
All: Build-Berkeleytime, Build-Frontend

Build-Berkeleytime:
        steps {
          git(url: 'https://github.com/asuc-octo/berkeleytime', branch: 'react-temp', credentialsId: 'GitHubAcc')
          sh '''version=$(git rev-parse --short HEAD)
  docker build -t berkeleytime/berkeleytimestage:$version -f berkeleytime/Dockerfile berkeleytime
  ...

Build-Frontend:
        steps {
          git(url: 'https://github.com/asuc-octo/berkeleytime', branch: 'react-temp', credentialsId: 'GitHubAcc')
          sh '''version=$(git rev-parse --short HEAD)
  docker build -t berkeleytime/frontendstage:$version -f frontend/Dockerfile frontend
  ...

Adding random file to test jenkins pipeline
  frontend/pipelinetest.txt
Due: Build-Frontend

Testing pipeline test for berkeleytime
  berkeleytime/pipelinetestbt.txt
Due: Build-Berkeleytime

no duplicates for grades/enrollment
  frontend/src/assets/sass/berkeleytime.css
  frontend/src/assets/sass/bt/_filter-selection.scss
  frontend/src/views/Enrollment/Enrollment.jsx
  frontend/src/views/Grades/Grades.jsx
Due: Build-Frontend

grades/enrollment info color
  frontend/src/assets/sass/berkeleytime.css
  frontend/src/assets/sass/bt/_enrollment.scss
  frontend/src/assets/sass/bt/_grades.scss
  frontend/src/components/EnrollmentInfoCard/EnrollmentInfoCard.jsx
  frontend/src/components/GradesInfoCard/GradesInfoCard.jsx
  frontend/src/components/GraphCard/EnrollmentGraphCard.jsx
  frontend/src/components/GraphCard/GradesGraphCard.jsx
Due: Build-Frontend

redirect scheduler to old site
  frontend/src/components/NavigationLinks/NavigationLinks.jsx
Due: Build-Frontend

clean up
  Procfile
  cors
  frontend/src/components/NavigationLinks/NavigationLinks.jsx
  runtime.txt
Due: Build-Frontend

class no longer clears on add
  frontend/src/components/ClassSearchBar/EnrollmentSearchBar.jsx
  frontend/src/components/ClassSearchBar/GradesSearchBar.jsx
Due: Build-Frontend

default item if search options only has one instructor/semester
  frontend/src/components/ClassSearchBar/EnrollmentSearchBar.jsx
  frontend/src/components/ClassSearchBar/GradesSearchBar.jsx
Due: Build-Frontend

added sponsor links
  frontend/src/components/Landing/Sponsors.jsx
Due: Build-Frontend

use traceback
  berkeleytime/catalog/service/mapper/course.py
Due: Build-Berkeleytime

fall 2019 final schedfule updated. fixed spring2019 final schedule bug
  berkeleytime/berkeleytime/config/finals/semesters/fall2019.py
  berkeleytime/berkeleytime/config/finals/semesters/spring2019.py
Due: Build-Berkeleytime

Added gcloud to container image
  kubernetes/manifests/infrastructure/jenkins-deploy.yaml
  kubernetes/manifests/infrastructure/jenkins_dockerfile/Dockerfile
Due: none

Added test deploy stage for staging
  Jenkinsfile
Due: none

Removed special synatx from Jenkinsfile
  Jenkinsfile
Due: none

Jenkins has weird syntax
  Jenkinsfile
Due: none

Displaying yaml for test
  Jenkinsfile
Due: none

Just to proc pipeline
  berkeleytime/test.txt
Due: Build-Berkeleytime

Just to proc pipeline
  frontend/test.txt
Due: Build-Frontend

Fixed path to yamls
  Jenkinsfile
Due: none

Proc pipeline again
  berkeleytime/test.txt
  frontend/test.txt
Due: Build-Berkeleytime, Build-Frontend

Path conditions:
  Build-Berkeleytime: any of: berkeleytime/**
  Build-Frontend: any of: frontend/**
